/*GENERAL RULES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}
@font-face{
    font-family: Belinda;
    src: url("belinda.otf");
}


/* -------- Section header -------*/

#header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#header .container {
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

h2 {
    padding: 30px;
    font-size: 52px;
    font-family: "Belinda";
    color: #fff;
    text-transform: none;
}

li {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #fff;
    padding-top: 58px;
    padding-bottom: 20px;
    font-size: 53px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
}

h4 {
    color: #fff;
    padding: 22px;
    font-family: "PTSans", sans-serif;
}

#header button {
    display: block;
    margin: 60px auto 80px auto;
    height: 40px;
    width: 240px;
    border-radius: 25px;
    background-color: #50c3af;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "PTSans", sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
}

/* -------- Section features -------*/
#features{
    background-color: #eeeeef;
}
#features .container .col{
    display: inline-block;
    text-align: center;
    width:33%;
    font-family: "PTSans", sans-serif;
    line-height: 24px;
}
#features .container img{
    padding-top:10px;
}
#features .container h3{
    font-size: 18px;
    text-transform: uppercase;
    padding-top:30px;
    color:#40474e;
    
}
#features .container h3::after{
    content:"";
    display: block;
    margin:30px auto;
    width:145px;
    border-bottom:2px solid #e2e3e4;
}
#features .container p{
    font-size: 14px;
    padding:23px 2px;
    color:#adafb1;
}
/* -------- Section services -------*/
#services .col{
    display: inline-block;
    text-align: center;
    width:49%;
    line-height: 24px;

}
#services .photo1{
    background-image: url(../img/col-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    width:65%;
    height:166px;
    margin:0 auto;
    
}
#services .photo2{
    background-image: url(../img/col-2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:auto;
    width:65%;
    height:166px;
    margin:0 auto;
    
}
#services h3{
    font-family: "PSSans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
}
#services p{
    font-family: "PSSans", sans-serif;
    font-size: 14px;
    text-align: left;
}