/*GENERAL RULES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

@font-face {
    font-family: Belinda;
    src: url("belinda.otf");
}

@font-face {
    font-family: Entypo;
    src: url("entypo.otf");
}

@font-face {
    font-family: NexaLight;
    src: url("Nexa Light.otf");
}

@font-face {
    font-family: NexaBold;
    src: url("Nexa Bold.otf");
}


/* -------- Section header -------*/

#header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: height: 600px;
}

#header .container {
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

h2 {
    padding: 30px;
    font-size: 52px;
    font-family: "Belinda";
    color: #fff;
    text-transform: none;
}

#header li {
    display: inline-block;
    cursor: pointer;
    padding: 20px 35px;
}

#header a:hover {
    font-weight: 700;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}

h1 {
    color: #fff;
    padding-top: 58px;
    padding-bottom: 20px;
    font-size: 53px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

h4 {
    color: #fff;
    padding: 22px;
    font-family: "PTSans", sans-serif;
}

#header button {
    display: block;
    margin: 60px auto 80px auto;
    height: 40px;
    width: 240px;
    border-radius: 25px;
    background-color: #50c3af;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "PTSans", sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

#header button:hover {
    background-color: #4fd9c1;
    transition: all 0.3s;
    transform: scale(1.01);
}


/* -------- Section features -------*/

#features {
    background-color: #eeeeef;
}

#features .container .col {
    display: inline-block;
    text-align: center;
    width: 33%;
    font-family: "PTSans", sans-serif;
    line-height: 24px;
}

#features .container img {
    padding-top: 10px;
}

#features .container h3 {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 30px;
    color: #40474e;
}

#features .container h3::after {
    content: "";
    display: block;
    margin: 30px auto;
    width: 75%;
    border-bottom: 2px solid #e2e3e4;
}

#features .container p {
    font-size: 14px;
    padding: 23px 15px;
    color: #787b80;
}


/* -------- Section services -------*/

#services .col {
    display: inline-block;
    width: 49%;
    line-height: 24px;
    margin-top: 25px;
}

#services .photo1 {
    background-image: url(../img/col-1.png);
}

#services .photo2 {
    background-image: url(../img/col-2.png);
    margin-left: 15px;
}

#services .photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 166px;
    margin-bottom: 42px;
}

#services h3,
#servicesII h3,
#about h3,
#section6 h3,
#section7 h3 {
    font-family: "PSSans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding: 0 5px;
    text-transform: uppercase;
}

#services p,
#servicesII p,
#section6 p,
#section7 p {
    font-family: "PSSans", sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0 5px 32px 5px;
    color: #787b80;
}

#services .col2 h3,
#services .col2 p,
#services .col2 button {
    margin-left: 15px;
}

#services h3::after {
    content: "";
    display: block;
    margin: 25px 0;
    width: 100%;
    border-bottom: 2px solid #eaeaeb;
}

#services button,
#servicesII button,
#section6 button,
#section7 button {
    display: block;
    height: 36px;
    width: 100px;
    border-radius: 25px;
    background-color: #50c3af;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    font-family: "PTSans", sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.5s;
}

#services button:hover,
#servicesII button:hover,
#section6 button:hover,
#section7 button:hover {
    background-color: #4fd9c1;
    transition: all 0.3s;
    transform: scale(1.01);
}


/* -------- Section servicesII -------*/

#servicesII,
#section6 {
    background-color: #eeeeef;
    line-height: 24px;
    padding-top: 35px;
}

#servicesII button {
    background-color: #d2d5da;
}

#servicesII h3::after {
    content: "";
    display: block;
    margin: 25px 0;
    width: 100%;
    border-bottom: 2px solid #eaeaeb;
}

#servicesII p {
    padding-top: 0;
}


/* -------- Section about -------*/

#about .col {
    display: inline-block;
    width: 30%;
    margin: 1.45%;
}

.photo1 {
    background-image: url(../img/lights.png);
}

.photo2 {
    background-image: url(../img/zebra.png);
}

.photo3 {
    background-image: url(../img/trainers.png);
}

.photo {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 140px;
    margin-bottom: 40px;
}

#about h3 {
    margin-left: 0;
    padding-left: 0;
}

#about h3::after {
    content: "";
    display: block;
    margin: 25px 0;
    width: 95%;
    border-bottom: 2px solid #eaeaeb;
}

#about p {
    font-family: "PSSans", sans-serif;
    font-size: 14px;
    text-align: left;
    padding-bottom: 35px;
    color: #787b80;
    line-height: 24px;
}

#about a {
    color: #50c3af;
    text-decoration: none;
    font-family: "PSSans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.2s;
}

#about a:hover {
    font-weight: 700;
    transition: all 0.2s;
}


/* -------- Section 6  -------*/

#section6 .col {
    display: inline-block;
    width: 44%;
}

#section6 .col1 {
    margin-right: 5%;
}

#section6 .col2 {
    margin-left: 5%;
}

#section6 h3::after,
#section7 h3::after {
    content: "";
    display: block;
    margin: 25px 0;
    width: 95%;
    border-bottom: 2px solid #eaeaeb;
}


/* -------- Section 7  -------*/

#section7 div.col {
    float: left;
    width: 44%;
    margin: 60px 0;
}

#section7 .container::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

#section7 div.photo {
    background-image: url(../img/people.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 210px;
    margin-right: 5%;
}

#section7 div.col2 {
    margin-left: 5%;
    line-height: 24px;
}

#section7 button {
    background-color: #d2d5da;
}


/* -------- Section 8  -------*/

#section8 {
    background-color: #50c3af;
    text-align: center;
    color: #fff;
    font-family: "PTSans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

#section8 ul {
    list-style: none;
    font-size: 26px;
    text-transform: none;
    color: rgba(255, 255, 255, 0.5);
}

#section8 li {
    display: inline-block;
    padding: 20px;
    margin: 0 5px;
}

#section8 li:first-child {
    font-family: "Belinda";
    font-weight: 100;
}

#section8 li:nth-child(2) {
    font-family: "NexaLight";
}

#section8 li:nth-child(3) {
    font-family: "Cabin", sans-serif;
    font-weight: 100;
}

#section8 li:last-child {
    font-family: "NexaBold";
}

#section8 h3::after {
    content: "";
    display: block;
    margin: 30px auto;
    width: 50%;
    border-bottom: 2px solid rgba(198, 203, 209, 0.5);
}


/* -------- Footer  -------*/

p.footer {
    font-family: "PTSans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #787b80;
}

div.social {
    color: #b5b7b9;
    float: right;
}

.icon-facebook,
.icon-twitter {
    font-size: 27px;
}

.icon-gplus {
    font-size: 24px;
}

div.copyright {
    float: left;
}

footer .container::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}


/* --- Media queries --- */

@media only screen and (max-width:900px) {
    #services .col1 {
        margin-left: 10px;
        width: 48%;
    }
    #services .col2 {
        margin-right: 10px;
        width: 48%;
    }
    #servicesII .container,
    #section6 .container,
    #section7 .container,
    footer {
        padding-left: 10px;
    }
}

@media only screen and (max-width:810px) {
    #features .container .col {
        width: 32%;
    }
}

@media only screen and (max-width:730px) {
    #services .col1 {
        margin-left: 0;
    }
    #services .col2 {
        margin-right: 0;
    }
    #features .container .col,
    #services .container .col,
    #about .container .col,
    #section6 .container .col,
    #section7 .container .col {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    #services h3,
    #about h3,
    #servicesII h3,
    #section6 h3,
    #section7 h3 {
        text-align: center;
    }
    #services p,
    #about .col,
    #about .col p,
    #servicesII p,
    #section6 p,
    #section7 p {
        text-align: center;
    }
    #services .col button,
    #servicesII button,
    #section6 button,
    #section7 button {
        margin: 10px auto;
    }
    #section6 .col {
        margin-left: 0;
        margin-right: 0;
    }
    #servicesII .container,
    #section6 .container,
    #section7 .container,
    footer {
        padding-left: 0;
    }
    #services .col1{
        padding-bottom: 40px;
    }
    #about .col {
        margin: 0;
        padding-top: 40px;
    }
    #about .col h3 {
        margin-top: 20px;
    }
    .photo {
        width: 75%;
        margin: 0 auto;
    }
    #section6 {
        padding-top: 0;
    }
    #section6 div.col2 {
        padding-top: 40px;
    }
    #section7 div.col {
        float: none;
    }
    #section7 div.photo {
        background-position: center;
        background-size: auto;
        margin: 0;
    }
    #section7 div.col2 {
        padding: 20px 0 0 0;
        margin: 0;
    }
    #services h3::after,
    #servicesII h3::after,
    #about h3::after,
    #section8 h3::after,
    #section7 h3::after,
    #section6 h3::after {
        content: "";
        display: block;
        margin: 25px auto;
        width: 75%;
        border-bottom: 2px solid #eaeaeb;
    }
    footer .copyright {
        float: none;
    }
    footer p {
        text-align: center;
    }
    footer .social {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}