* {
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    overflow: hidden;
}

.item {
    width: 25%;
    height: 300px;
    border: 1px solid grey;
    background-color: #fff;
}

.item a {
    text-decoration: none;
}

.cover {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid grey;
    background-color: pink;
    background-image: url(OrangeRabbit/orangeRabbit.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 .cover {
    background-image: url(OrangeRabbit/orangeRabbit.jpg);
}