* {
    box-sizing: border-box;
    margin:0;
    padding:0
}
body{
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

header{
    margin:50px auto;
}
h1{
    text-align: center;
    color:  #4c4f4f;
}
.hidden {
    visibility: hidden;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    overflow: hidden;
   
}

.item {
    width: calc(25% - 20px);
    height: 250px;
/*    border: 1px solid grey;*/
    background-color: #4c4f4f;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.35);
    margin: 10px;
    transition: all 0.3s;
}
.item:hover{
    transform: scale(0.9);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
}

.item a {
    text-decoration: none;
}
h4{
    text-align: center;
    margin-top: 20px;
    color:#fff;
    font-size: 16px;
    
}

.cover {
    width: 100%;
    height: 70%;
/*    border-bottom: 1px solid grey;*/
/*    background-color: pink;*/
   
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 .cover {
    background-image: url(OrangeRabbit/orangeRabbit.jpg);
}
.item2 .cover {
    background-image: url(chocolate-pudding-dessert/chocolate-pudding.jpg);
}
.item3 .cover {
    background-image: url(elena-mail/elena-email-psd-theme.jpg);
}